div {
  height: fit-content;
}

@media (max-width: 600px) {
  // .pe-sm-1 {
  //   padding-right: 0.5rem !important;
  // }
}
@media (min-width: 1700px) {
  .container {
    max-width: 1660px;
  }
}
.title {
  font-size: 15px;
}
